
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="myModule">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/plugins/angular/angular.js"></script>
    <script src="~/Scripts/spa/app.js"></script>
</head>
<body>
<div ng-controller="myController">
    <div tedu_shop_directive></div>
    <input ng-model="num"/> {{num}} {{abc}}
    <button ng-click="checkNumber()">Check number</button>


</div>
</body>
</html>
